@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html {
  //font-size: 62.5%;
  font-size: 64%;
  line-height: 1.25;
  body {
    font-family: "Clash Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  }
}

// html for devices smaller than 768px
@media (max-width: 768px) {
  html {
    font-size: 40.25%;
  }
}

//// html for devices bigger than 1440px
//@media (min-width: 2880px) {
//  html {
//    font-size: 61.5%;
//  }
//}
//


p,
span {
  font-size: 1.4rem;
}

a {
  font-weight: 600;
}