.marquee {
    position: relative;
    overflow: hidden;
}
.marquee.animate .marquee__inner {
    animation-play-state: running;
}
.marquee .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}
@media (min-width: var(--layout-breakpoint-large)) {
    .marquee .marquee__inner {
        transform: translate3d(calc(-25% + 10vw), 0, 0);
        animation: marquee-lg 5s linear infinite;
        animation-play-state: paused;
    }
}
.marquee .row-title {
    padding: 0 8vw;
}
@media (min-width: var(--layout-breakpoint-large)) {
    .marquee .row-title {
        padding: 0 10vw;
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
@keyframes marquee-lg {
    0% {
        transform: translate3d(calc(-25% + 10vw), 0, 0);
    }
    100% {
        transform: translate3d(calc(-50% + 10vw), 0, 0);
    }
}